/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

#user-profile-contianer {
  padding: 20px 20px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

#user-info {
  margin-top: 20px;
}

#user-profile-contianer p {
  margin: 0;
  font-size: 14.5px;
}
